/* ブラウザ全体 */
body {
    margin: 0;
    padding: 0;
    background: #111;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* ゲーム表示エリア */
#game-container {
    border: 3px solid white;
}