html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* 余白を黒にする */
    background-color: #000000;
}

#game-container {
    width: 100vw;
    height: 100vh;

    /* Phaserの外側も黒 */
    background-color: #000000;
}

canvas {
    display: block;
}